{% extends 'home.html.twig' %}

{% block body %}

    <div class="container">
        <div style="margin: 10px; padding: 20px">
            {{ form_start(form, {'class': 'form-group'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.title, {'attr': {'class': 'form-control', 'type':'text'}, 'label': 'Title'}) }}
            {{ form_row(form.content, {'attr': {'class': 'form-control', 'type':'text'}, 'label': 'Content'}) }}
            {{ form_row(form.status, {'attr': {'class': 'form-control', 'type':'integer'}, 'label': 'Status'}) }}
            <p>
                {{ form_row(form.save, {'attr': {'class': 'btn btn-success'}, 'label': 'Save' }) }}
                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}