{% extends 'home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/cabinet.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css"/>
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="http://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
    <div id="main" style="margin: 20px">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            <img src="http://bootstraptema.ru/snippets/element/2016/profilesection/myprofile.jpg">
                            <h3>{{ user.username }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <h4>Data about user</h4>
                        <table class="table table-th-block">
                            <tbody>
                            <tr>
                                <td class="active">Username:</td>
                                <td>
                                    {{ user.username }}
                                </td>
                            </tr>
                            <tr>
                                <td class="active">Email:</td>
                                <td>
                                    {{ user.email }}
                                </td>
                            </tr>
                            <tr>
                                <td class="active">City:</td>
                                <td>
                                    {{ user.city }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
{% endblock %}



