{% extends 'home.html.twig' %}

{% block body %}
    <div class="container">
        <div style="margin-top: 20px; margin-bottom: 20px">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <a href="{{ path('manage_post_create') }}" class="btn btn-success">Create post</a><p></p>
                <thead>
                <tr>
                    <th class="th-sm">Title

                    </th>
                    <th class="th-sm">Content

                    </th>
                    <th class="th-sm">Status

                    </th>
                    <th class="th-sm">Author

                    </th>
                    <th class="th-sm">Time of creation

                    </th>
                    <th class="th-sm">Actions

                    </th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}t</td>
                        <td>{{ post.status }}</td>
                        <td>{{ post.authorId }}</td>
                        <td>{{ post.createdAt|date("d/m/Y") }}</td>
                        <td>Actions</td>
                    </tr>
                {% endfor %}
                {#<tr>#}
                    {#<td>Tiger Nixon</td>#}
                    {#<td>System Architect</td>#}
                    {#<td>Edinburgh</td>#}
                    {#<td>61</td>#}
                    {#<td>2011/04/25</td>#}
                    {#<td>$320,800</td>#}
                {#</tr>#}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}